In [1]:
# a = {}
# a = {<key>:<value>,<key>:<value>, <key>:<value>}

In [2]:
a = {}
type(a)

dict

In [5]:
a = {"a":"Apple", "b":"Ball"}
print(a)
a["a"]

{'a': 'Apple', 'b': 'Ball'}

'Apple'

In [6]:
# - Mutable datatype
# - It may have multiple values
# - No duplicate index
# - Ordered

In [7]:
a = {"a":"Apple", "b":"Apple"}
a

{'a': 'Apple', 'b': 'Apple'}

In [10]:
a["a"] = "Ant"
a

{'a': 'Ant', 'b': 'Apple'}

In [12]:
a = {}
a["a"] = "Apple"
a["b"] = "Ball"
a["c"] = "Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
a["a"] = "Ant"
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [14]:
#Gives only key/index
for i in a:
    print(i)

a
b
c

In [15]:
#Gives values
for i in a.values():
    print(i)

Ant
Ball
Cat

In [16]:
#Gives both key and values but changes it into tuple form.
for i in a.items():
    print(i)

('a', 'Ant')
('b', 'Ball')
('c', 'Cat')

In [17]:
key_values = []
for i in a.items():
    key_values.append(i)
key_values

[('a', 'Ant'), ('b', 'Ball'), ('c', 'Cat')]

In [18]:
new_data = []
for i in key_values:
    j = list(i)
    new_data.append(j)
new_data

[['a', 'Ant'], ['b', 'Ball'], ['c', 'Cat']]

In [21]:
new_data[0][0] = "A"
new_data

[['A', 'Ant'], ['b', 'Ball'], ['c', 'Cat']]

In [22]:
d = {}
for k in new_data:
    key = k[0]
    value = k[1]
    d[key] = value
print(d)

{'A': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [24]:
d = {}
n = int(input("Enter a number of people: "))
for i in range(n):
    name = input("Enter name: ")
    phone = int(input("Enter phone number: "))
    d[name] = phone
print("The information is: \n",d)

Enter a number of people: 2
Enter name: Ram
Enter phone number: 123
Enter name: Shyam
Enter phone number: 456
The information is:
 {'Ram': 123, 'Shyam': 456}

In [25]:
d["Ram"]

123

In [26]:
d["Shyam"]

456

In [27]:
#We can update/add/delete/remove/pop in dictionary but cannot use mathmematical operations

In [29]:
a = {"a":"Apple"}
b = {"b":"Ball"}
a.update(b)
a

{'a': 'Apple', 'b': 'Ball'}

In [31]:
d = {'a': 'Apple', 'b': 'Ball'}
del d["a"] #delete values using index/key
d

{'b': 'Ball'}

In [33]:
d = {'a': 'Apple', 'b': 'Ball'}
d.pop("a")
print(d)

{'b': 'Ball'}

In [34]:
# - MultiDimensional Dictionary i.e- Inserting multiple data in dictionary

In [35]:
d = {'a': 'Apple', 'b': 'Ball'}
d.clear() # clear values inside variable (Can use in all datatypes)
d

{}

In [36]:
#List inside dictionary

In [39]:
a = {"a":["Apple", "Ant"], "b":["Ball", "Bat"]}
print(a) #print whole data
print(a["a"]) #print value of index "a"
print(a["a"][0]) # print value(index of value) of index "a".

{'a': ['Apple', 'Ant'], 'b': ['Ball', 'Bat']}
['Apple', 'Ant']
Apple

In [41]:
#inserting multiple data dynamically inside multidimensional dictionary..
d = {}
n = int(input("Enter a number of people: "))
for i in range(n):
    name = input("Enter name: ")
    ntc_phone = int(input("Enter ntc phone number: "))
    ncell_phone = int(input("Enter ncell phone number: "))
    d[name] = [ntc_phone, ncell_phone]#This is in list form. If user wants to change this into tuple then only change bracket into ()
print("The information is: \n",d)

Enter a number of people: 2
Enter name: Ram
Enter ntc phone number: 9845612345
Enter ncell phone number: 9810123465
Enter name: Shyam
Enter ntc phone number: 9845678945
Enter ncell phone number: 9810534789
The information is:
 {'Ram': [9845612345, 9810123465], 'Shyam': [9845678945, 9810534789]}

In [45]:
d =  {'Ram': [9845612345, 9810123465], 'Shyam': [9845678945, 9810534789]}
d["Ram"].append("9845678945")
d

{'Ram': [9845612345, 9810123465, '9845678945'],
 'Shyam': [9845678945, 9810534789]}

In [47]:
d["Ram"][2] = 9822222222
d

{'Ram': [9845612345, 9810123465, 9822222222],
 'Shyam': [9845678945, 9810534789]}

In [51]:
del d["Ram"][2]
d

KeyError: 'Ram'

In [6]:
#inserting multiple data dynamically inside multidimensional dictionary..
d = {}
n = int(input("Enter a number of people: "))
for i in range(n):
    name = input("Enter name: ")
    price = int(input("Enter price: "))
    quantity = int(input("Enter quantity: "))
    total = price*quantity
    d[name] = [price, quantity, total]#This is in list form. If user wants to change this into tuple then only change bracket [] into ()
print("The information is: \n",d)

Enter a number of people: 2
Enter name: Ram
Enter price: 45
Enter quantity: 2
Enter name: Shyam
Enter price: 12
Enter quantity: 5
The information is:
 {'Ram': [45, 2, 90], 'Shyam': [12, 5, 60]}

In [4]:
#dictionary inside list
a = [{"Name":"Ram","Phone":9840539880},
     {"Name":"Shyam","phone":"9845678945"},
     {"Name":"Hari","phone":"9841379465"}]

In [5]:
for i in a:
    print(i)

{'Name': 'Ram', 'Phone': 9840539880}
{'Name': 'Shyam', 'phone': '9845678945'}
{'Name': 'Hari', 'phone': '9841379465'}

In [1]:
#inserting multiple data dynamically inside multidimensional dictionary..
d = []
s = 0
n = int(input("Enter a number of product added to cart: "))
for i in range(n):
    name = input("Enter name: ")
    price = int(input("Enter price: "))
    quantity = int(input("Enter quantity: "))
    total = price*quantity
    s = s+total
    data = {"Name":name, "Price":price, "Quantity":quantity, "Total":total}
    d.append(data)
print("The information is: \n",d)
print("The total value of product is: ",s)

Enter a number of product added to cart: 4
Enter name: Apple
Enter price: 120
Enter quantity: 1
Enter name: Banana
Enter price: 60
Enter quantity: 12
Enter name: Ball
Enter price: 60
Enter quantity: 20
Enter name: Remote Control Car
Enter price: 2000
Enter quantity: 2
The information is:
 [{'Name': 'Apple', 'Price': 120, 'Quantity': 1, 'Total': 120}, {'Name': 'Banana', 'Price': 60, 'Quantity': 12, 'Total': 720}, {'Name': 'Ball', 'Price': 60, 'Quantity': 20, 'Total': 1200}, {'Name': 'Remote Control Car', 'Price': 2000, 'Quantity': 2, 'Total': 4000}]
The total value of product is:  6040

In [18]:
d[0]["Price"] = 200
q = d[0]["Quantity"]
total = d[0]["Price"]*q
total

400

In [20]:
d[0]["Total"] = total;
d

[{'Name': 'Apple', 'Price': 200, 'Quantity': 2, 'Total': 400},
 {'Name': 'Banana', 'Price': 150, 'Quantity': 24, 'Total': 3600}]

In [7]:
d = [{'Name': 'Apple', 'Price': 200, 'Quantity': 2, 'Total': 400},
 {'Name': 'Banana', 'Price': 150, 'Quantity': 24, 'Total': 3600}]

print("Enter 1 to Change Quantity.")
print("Enter 2 to Change Price.")
print("Enter 3 to Change Both Quantity and Price.")

change = int(input("Enter value: "))

def change1():
    if change == 1:
    q = int(input("Enter new quantity: "))    
    i = int(input("Enter index: "))
    d[i]["Quantity"] = q
    total = d[i]["Price"]*q
    d[i]["Total"] = total
    print(d)
    print(total)
change1()
    

def change2():
    if change == 2:
        p = int(input("Enter new price: "))    
        i = int(input("Enter index: "))
        d[i]["Price"] = p
        total = p*d[i]["Quantity"]
        d[i]["Total"] = total
    print(d)
    print(total)
change2()
    

def change3():
    if change == 3:
        q = int(input("Enter new quantity: "))
        p = int(input("Enter new price: "))    
        i = int(input("Enter index: "))
        d[i]["Quantity"] = q
        d[i]["Price"] = p
        total = p*q
        d[i]["Total"] = total
    print(d)
    print(total)
change3()

IndentationError: expected an indented block (<ipython-input-7-e6b88ed69531>, line 12)

In [4]:
# WAP for result management system (Update the marks is required)

In [6]:
data = []
total = 0
num = int(input("Enter the number of students whose marks are required: "))
for i in range(num):
    name = input("Enter name of student: ")
    math = int(input("Enter marks of math: "))
    english = int(input("Enter marks of english: "))
    science = int(input("Enter marks of science: "))
    account = int(input("Enter marks of account: "))
    total = math + english + science + account
    percent = total/4
    #b[name] = [math, english, science, account, total, percent]
    marks = {"Name":name, "Math":math, "English":english, "Science":science, "Account":account, "Total":total, "Percent":percent}
    data.append(marks)
print("The marks of student is: ",data)

Enter the number of students whose marks are required: 2
Enter name of student: Ram
Enter marks of math: 50
Enter marks of english: 50
Enter marks of science: 50
Enter marks of account: 50
Enter name of student: Shyam
Enter marks of math: 90
Enter marks of english: 90
Enter marks of science: 90
Enter marks of account: 90
The marks of student is:  [{'Name': 'Ram', 'Math': 50, 'English': 50, 'Science': 50, 'Account': 50, 'Total': 200, 'Percent': 50.0}, {'Name': 'Shyam', 'Math': 90, 'English': 90, 'Science': 90, 'Account': 90, 'Total': 360, 'Percent': 90.0}]

In [9]:
#dictionary inside dictionary

a = {"Ram":{"Physics":90, "Chemestry":78, "Math":70, "English":67},
    "Shyam":{"Physics":80, "Chemestry":80, "Math":80, "English":80}}
print(a)

{'Ram': {'Physics': 90, 'Chemestry': 78, 'Math': 70, 'English': 67}, 'Shyam': {'Physics': 80, 'Chemestry': 80, 'Math': 80, 'English': 80}}

In [18]:
print(a["Ram"])
print(a["Shyam"])
a["Ram"]["Computer"] = 99
print(a)

KeyError: 'Ram'

In [11]:
print(a["Ram"]["Physics"])

90

In [16]:
a["Ram"]["Physics"] = 100
a

KeyError: 'Ram'

In [15]:
a = {"A":"Apple"}
b = {"A":["Apple", ["Ant"]]}
#c = {["A", "a"]:"Apple"} #Cannot use dictionary inside dictionary or dictionary inside list but can use dictionary inside tuple
#because dictionary and list are mutable data type and tuple is immutable datatype
c = {("A", "a"):"Apple"}
d = {"A":("Apple", "Ant")}
print(a)
print(b)
print(c)
print(d)

{'A': 'Apple'}
{'A': ['Apple', ['Ant']]}
{('A', 'a'): 'Apple'}
{'A': ('Apple', 'Ant')}

In [20]:
#inserting multiple data dynamically inside multidimensional dictionary..
d = {}
s = 0
n = int(input("Enter a number of product added to cart: "))
for i in range(n):
    name = input("Enter name: ")
    price = int(input("Enter price: "))
    quantity = int(input("Enter quantity: "))
    total = price*quantity
    s = s+total
    d[name]= {"Price":price, "Quantity":quantity, "Total":total}
print("The information is: \n",d)
print("The total value of product is: ",s)

Enter a number of product added to cart: 2
Enter name: Apple
Enter price: 20
Enter quantity: 120
Enter name: Banana
Enter price: 30
Enter quantity: 120
The information is:
 {'Apple': {'Price': 20, 'Quantity': 120, 'Total': 2400}, 'Banana': {'Price': 30, 'Quantity': 120, 'Total': 3600}}
The total value of product is:  6000