In [1]:
a = ["Apple", "Ball"]
b = [1,2,3,4]
print(a)
print(type(b))

['Apple', 'Ball']
<class 'list'>

In [4]:
print (a[1])

Ball

In [5]:
a = ["Apple", "Ball", "Cat", "Fish", "Dog"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [6]:
a = ["Apple", "Ball", "Cat", "Fish", "Dog"]
print(a[0:5:2])

['Apple', 'Cat', 'Dog']

In [8]:
a = ["Apple"]
b = ["Ball"]
print(b+a)

['Ball', 'Apple']

In [9]:
a = ['Apple', 'Ball', 'Cat']
print(a*2)

['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']

In [10]:
for i in range(5):
    print (i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [11]:
a = "Apple"
b = [a]
print (b)

['Apple']

In [13]:
a = []
b = "Ram"
print(a+[b])

['Ram']

In [2]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+[name]
print(a)

Enter n = 10
Enter name = Rusan
Enter name = Skidrow
Enter name = Altair
Enter name = Ezio
Enter name = Cornor
Enter name = Edward
Enter name = Shay
Enter name = Arno
Enter name = Jacob
Enter name = Evie
['Rusan', 'Skidrow', 'Altair', 'Ezio', 'Cornor', 'Edward', 'Shay', 'Arno', 'Jacob', 'Evie']

In [21]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+[x]
    
print("The list is = ",a)
print("The max value is = ",max(a))
print("The sum value is = ",sum(a))
print("The min value is = ",min(a))
print("The average value is = ",sum(a)/n)

Enter n = 5
Enter x = 123
Enter x = 514
Enter x = 547
Enter x = 854
Enter x = 856
The list is =  [123, 514, 547, 854, 856]
The max value is =  856
The sum value is =  2894
The min value is =  123
The average value is =  578.8

In [22]:
a

[123, 514, 547, 854, 856]

In [23]:
a.sort()

In [24]:
a

[123, 514, 547, 854, 856]

In [25]:
a = ["Zebra", "Xray", "1ball", "@fish"]
a.sort()

In [26]:
a

['1ball', '@fish', 'Xray', 'Zebra']

In [27]:
a = ["Zebra", "Xray", "ball", "fish"]
a.sort()

In [28]:
a

['Xray', 'Zebra', 'ball', 'fish']

In [30]:
a = [123, 514, 547, 854, 856]
a.sort()
a.reverse()
print(a)

[856, 854, 547, 514, 123]

In [35]:
a = ["Zebra", "Xray", "ball", "fish"]
n = len(a)
for i in range(n):
    print(a[i])

Zebra
Xray
ball
fish

In [32]:
len(a)

4

In [37]:
a = ["Zebra", "Xray", "ball", "fish"]
for i in a:
    print(i)

Zebra
Xray
ball
fish

In [39]:
a = ["Zebra", "Xray", "ball", "fish"]
for i in a:
    if i == "ball":
        break
    print(i)

Zebra
Xray

In [40]:
a = ["Zebra", "Xray", "ball", "fish"]
for i in a:
    if i == "ball":
        continue
    print(i)

Zebra
Xray
fish

In [5]:
a = ["Zebra", "Xray", "ball", "fish", "ball"]
if "ball" in a:
    print("Yes",a.count("ball"))

Yes 2

In [43]:
a = list()
a.append("Apple")
print(a)

['Apple']

In [44]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a.append(name)
print(a)

Enter n = 2
Enter name = Ram
Enter name = Shyam
['Ram', 'Shyam']

In [45]:
a = ["Zebra", "Xray", "ball", "fish"]
a.insert(2, "Bag")
print(a)

['Zebra', 'Xray', 'Bag', 'ball', 'fish']

In [47]:
a = ["Zebra", "Xray", "ball", "fish"]
a[1] = 'xray'
print(a)

['Zebra', 'xray', 'ball', 'fish']

In [50]:
a = ["Zebra", "Xray", "ball", "fish"]
del a[0:4:2]
print(a)

['Xray', 'fish']

In [51]:
a = ["Zebra", "Xray", "ball", "fish"]
a.index("ball")

2

In [52]:
a = ["Zebra", "Xray", "ball", "fish"]
a.remove("ball")

In [53]:
print(a)

['Zebra', 'Xray', 'fish']

In [6]:
a = ["Zebra", "Xray", "ball", "fish"]
a.pop(1)

['Zebra', 'ball', 'fish']

In [58]:
a = ["Zebra", "Xray", "ball", "ball", "fish"]
n = a.count("ball")
for i in range(n):
    a.remove("ball")
print(a)

['Zebra', 'Xray', 'fish']

In [59]:
a = ["Zebra", "Xray", "ball", "ball", "fish"]
n = a.count("ball")
for i in range(n-1):
    a.remove("ball")
print(a)

['Zebra', 'Xray', 'ball', 'fish']

In [63]:
a = ["Zebra", "Xray", "ball", "ball", "fish"]
for i in a:
    if i == "ball":
        n = a.index("ball")
        print(n)

2
2

In [67]:
a = ["ball", "Zebra", "Xray", "ball", "fish"]
for i in range(len(a)):
    if a[i] == "ball":
        print(i)

0
3

In [68]:
index = []
a = ["ball", "Zebra", "Xray", "ball", "fish"]
for i in range(len(a)):
    if a[i] == "ball":
        print(i)
        index.append(i)
print(index)

0
3
[0, 3]

In [1]:
a = [[], [], []]
print(a)
print(len(a))

[[], [], []]
3

In [3]:
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(a)
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [10]:
a = [[1, 2, 3]]
b = [[4, 5, 6]]
c = a+b
print(len(c))

2

In [12]:
a = [[1, 2, 3]]
b = [[4, 5, 6]]
print(a+b)

[[1, 2, 3], [4, 5, 6]]

In [13]:
my_list = []
i = int(input("Enter i = "))
j = int(input("Enter j = "))

for a in range(i):
    my_list1 = []
    for b in range(j):
        x = int(input("Enter x = "))
        my_list1.append(x)
    my_list.append(my_list1)
print(my_list)

Enter i = 2
Enter j = 2
Enter x = 32
Enter x = 32
Enter x = 34
Enter x = 34
[[32, 32], [34, 34]]

In [15]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = f"{name}----{phone}\n"
    s = s+info
print(s)

Enter n = 2
Enter name = fds
Enter phone = 641
Enter name = fds
Enter phone = 64512
fds----641
fds----64512

In [16]:
s.split('\n')

['fds----641', 'fds----64512', '']

In [17]:
x = s.split('\n')[0:-1]
x

['fds----641', 'fds----64512']

In [25]:
data=[]
for i in range(2):
    y = x[i].split('------')
    data.append(y)
data

[['fds----641'], ['fds----64512']]

In [26]:
data = []
n = int(input("Enter n: "))
for i in range(n):
    name = input("Enter name: ")
    phone = input("Enter phone: ")
    info = [name, phone]
    data.append(info)
print(data)

Enter n: 2
Enter name: abc
Enter phone: 997
Enter name: def
Enter phone: 123
[['abc', '997'], ['def', '123']]

In [28]:
data = []
n = int(input("Enter n: "))
for i in range(n):
    name = input("Enter name: ")
    phone = input("Enter phone: ")
    info = [[name, phone]]
    data = data+info
print(data)

Enter n: 2
Enter name: hjn
Enter phone: 41456
Enter name: bjh
Enter phone: 78852
[['hjn', '41456'], ['bjh', '78852']]

In [32]:
a = [['Ram', 546123456789], ['Shyam', 123456789456]]
a[1][0]

'Shyam'

In [33]:
for i in a:
    print(i)

['Ram', 546123456789]
['Shyam', 123456789456]

In [42]:
a = [['Ram', 546123456789], ['Shyam', 123456789456], ['Hari', 123456789456], ['Awas', 123456789456], ['ABC', 123456789456]]
a[0:5:2]

[['Ram', 546123456789], ['Hari', 123456789456], ['ABC', 123456789456]]

In [46]:
a = [['Ram', 546123456789], ['Shyam', 123456789456]]
a[0][0] = "Ram Prasad"
a #print(a)

[['Ram Prasad', 546123456789], ['Shyam', 123456789456]]

In [50]:
a = [['Ram', 546123456789], ['Shyam', 123456789456]]
del a[0][0]
a

[[546123456789], ['Shyam', 123456789456]]

In [53]:
a = [['Ram', 546123456789], ['Shyam', 123456789456]]
a.remove(a[0])
print(a)

[['Shyam', 123456789456]]

In [1]:
result = []
n = int(input("Enter n: "))
for i in range(1, n+1):
    name = input("Enter name: ")
    physics = int(input("Enter marks of physics: "))
    chemestry = int(input("Enter marks of chemestry: "))
    Math = int(input("Enter marks of Math: "))
    English = int(input("Enter marks of English: "))
    Nepali = int(input("Enter marks of Nepali: "))
    total = sum([physics, chemestry, Math, English, Nepali])
    per = total/5
    data = [i, name, physics, chemestry, Math, English, Nepali, total, per]
    result.append(data)
result

Enter n: 2
Enter name: Ram
Enter marks of physics: 45
Enter marks of chemestry: 46
Enter marks of Math: 47
Enter marks of English: 48
Enter marks of Nepali: 49
Enter name: Shyam
Enter marks of physics: 50
Enter marks of chemestry: 51
Enter marks of Math: 52
Enter marks of English: 53
Enter marks of Nepali: 54

[[1, 'Ram', 45, 46, 47, 48, 49, 235, 47.0],
 [2, 'Shyam', 50, 51, 52, 53, 54, 260, 52.0]]

In [59]:
roll  = int(input("Enter roll number of a student: "))
result[roll-1]

Enter roll number of a student: 1

[1, 'Ram', 45, 46, 47, 48, 49, 235, 47.0]

In [65]:
result[0][2] = 98
s = result[0][2:7]
net_sum = sum(s)
result[0][7] = net_sum
result[0][-1] = net_sum/5
result

[[1, 'Ram', 98, 46, 47, 48, 49, 288, 57.6],
 [2, 'Shyam', 50, 51, 52, 53, 54, 260, 52.0]]