In [1]:
a = (1, 2, 3, 4, 5)
a

(1, 2, 3, 4, 5)

In [2]:
a = 10, 20, 30
a

(10, 20, 30)

In [3]:
a[2]

30

In [4]:
a[-1]

30

In [5]:
b = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(b)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [8]:
b[0:6:2]

(1, 3, 5)

In [9]:
b[-8]

2

In [13]:
a = (10, 20, 30,[40, 50, 60])
a

(10, 20, 30, [40, 50, 60])

In [14]:
a[3][1] = 55

In [15]:
print(a)

(10, 20, 30, [40, 55, 60])

In [16]:
a[2] = 35

TypeError: 'tuple' object does not support item assignment

In [17]:
a = (1, 2, 3)
b = (4, 5, 6)
c = a + b
print(c)

(1, 2, 3, 4, 5, 6)

In [18]:
del c
print(C)

NameError: name 'C' is not defined

In [20]:
a = (1, 1, 1, 1, 1, 2, 3, 4, 5)
print(a)

(1, 1, 1, 1, 1, 2, 3, 4, 5)

In [21]:
a.count(1)

5

In [22]:
a.index(5)

8

In [23]:
a.index(1)

0

In [26]:
a = [1, 2, 3]
a

[1, 2, 3]

In [27]:
b = tuple(a)

In [28]:
print(b)

(1, 2, 3)

In [32]:
#iterating through a tuple
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9

In [33]:
#membership test

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
print(9 in a)

True

In [35]:
print(10 in a)

False

In [36]:
print('Rusan' in a)

False

In [42]:
a = ("Apple", "Ball", "Cat")
for i in a:
    if i == "Ball":
        break
    print(i)

Apple

In [43]:
a = ("Apple", "Ball", "Cat")
for i in a:
    if i == "Ball":
        continue
    print(i)

Apple
Cat

In [44]:
x, y, z = ("Apple", "Ball", "Cat")
print(x, y, z)

Apple Ball Cat

In [45]:
#tuple does not have append function
a = ("Apple", "Ball", "Cat")
a.append("Dog")

AttributeError: 'tuple' object has no attribute 'append'

In [49]:
info = tuple()
n = int(input("Enter a number: "))
for i in range(n):
    name = input("Enter name: ")
    info  = info +(name,)
print(info)

Enter a number: 5
Enter name: Apple
Enter name: Ball
Enter name: cat
Enter name: Dog
Enter name: Elephant
('Apple', 'Ball', 'cat', 'Dog', 'Elephant')

In [51]:
result = tuple()
n = int(input("Enter a number: "))
for i in range(n):
    x = int(input("Enter a number: "))
    result = result +(x, )
print("The tuple is: ",result)
print("The max value is: ",max(result))
print("The min value is: ",min(result))

Enter a number: 5
Enter a number: 10
Enter a number: 20
Enter a number: 30
Enter a number: 40
Enter a number: 50
The tuple is:  (10, 20, 30, 40, 50)
The max value is:  50
The min value is:  10