In [1]:
a = ["Apple", "Ball"]
b = [1,2,3,4]
print(a)
print(type(b))

['Apple', 'Ball']
<class 'list'>

In [4]:
print (a[1])

Ball

In [5]:
a = ["Apple", "Ball", "Cat", "Fish", "Dog"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [6]:
a = ["Apple", "Ball", "Cat", "Fish", "Dog"]
print(a[0:5:2])

['Apple', 'Cat', 'Dog']

In [8]:
a = ["Apple"]
b = ["Ball"]
print(b+a)

['Ball', 'Apple']

In [9]:
a = ['Apple', 'Ball', 'Cat']
print(a*2)

['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']

In [10]:
for i in range(5):
    print (i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [11]:
a = "Apple"
b = [a]
print (b)

['Apple']

In [13]:
a = []
b = "Ram"
print(a+[b])

['Ram']

In [17]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+[name]
print(a)

Enter n = 2
Enter name = Rusn
Enter name = Shyam
['Rusn', 'Shyam']

In [21]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+[x]
    
print("The list is = ",a)
print("The max value is = ",max(a))
print("The sum value is = ",sum(a))
print("The min value is = ",min(a))
print("The average value is = ",sum(a)/n)

Enter n = 5
Enter x = 123
Enter x = 514
Enter x = 547
Enter x = 854
Enter x = 856
The list is =  [123, 514, 547, 854, 856]
The max value is =  856
The sum value is =  2894
The min value is =  123
The average value is =  578.8

In [22]:
a

[123, 514, 547, 854, 856]

In [23]:
a.sort()

In [24]:
a

[123, 514, 547, 854, 856]

In [25]:
a = ["Zebra", "Xray", "1ball", "@fish"]
a.sort()

In [26]:
a

['1ball', '@fish', 'Xray', 'Zebra']

In [27]:
a = ["Zebra", "Xray", "ball", "fish"]
a.sort()

In [28]:
a

['Xray', 'Zebra', 'ball', 'fish']

In [30]:
a = [123, 514, 547, 854, 856]
a.sort()
a.reverse()
print(a)

[856, 854, 547, 514, 123]

In [35]:
a = ["Zebra", "Xray", "ball", "fish"]
n = len(a)
for i in range(n):
    print(a[i])

Zebra
Xray
ball
fish

In [32]:
len(a)

4

In [37]:
a = ["Zebra", "Xray", "ball", "fish"]
for i in a:
    print(i)

Zebra
Xray
ball
fish

In [39]:
a = ["Zebra", "Xray", "ball", "fish"]
for i in a:
    if i == "ball":
        break
    print(i)

Zebra
Xray

In [40]:
a = ["Zebra", "Xray", "ball", "fish"]
for i in a:
    if i == "ball":
        continue
    print(i)

Zebra
Xray
fish

In [41]:
a = ["Zebra", "Xray", "ball", "fish", "ball"]
if "ball" in a:
    print("Yes",a.count("ball"))

Yes 2

In [43]:
a = list()
a.append("Apple")
print(a)

['Apple']

In [44]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a.append(name)
print(a)

Enter n = 2
Enter name = Ram
Enter name = Shyam
['Ram', 'Shyam']

In [45]:
a = ["Zebra", "Xray", "ball", "fish"]
a.insert(2, "Bag")
print(a)

['Zebra', 'Xray', 'Bag', 'ball', 'fish']

In [47]:
a = ["Zebra", "Xray", "ball", "fish"]
a[1] = 'xray'
print(a)

['Zebra', 'xray', 'ball', 'fish']

In [50]:
a = ["Zebra", "Xray", "ball", "fish"]
del a[0:4:2]
print(a)

['Xray', 'fish']

In [51]:
a = ["Zebra", "Xray", "ball", "fish"]
a.index("ball")

2

In [52]:
a = ["Zebra", "Xray", "ball", "fish"]
a.remove("ball")

In [53]:
print(a)

['Zebra', 'Xray', 'fish']

In [54]:
a = ["Zebra", "Xray", "ball", "fish"]
a.pop(1)

'Xray'

In [58]:
a = ["Zebra", "Xray", "ball", "ball", "fish"]
n = a.count("ball")
for i in range(n):
    a.remove("ball")
print(a)

['Zebra', 'Xray', 'fish']

In [59]:
a = ["Zebra", "Xray", "ball", "ball", "fish"]
n = a.count("ball")
for i in range(n-1):
    a.remove("ball")
print(a)

['Zebra', 'Xray', 'ball', 'fish']

In [63]:
a = ["Zebra", "Xray", "ball", "ball", "fish"]
for i in a:
    if i == "ball":
        n = a.index("ball")
        print(n)

2
2

In [67]:
a = ["ball", "Zebra", "Xray", "ball", "fish"]
for i in range(len(a)):
    if a[i] == "ball":
        print(i)

0
3

In [68]:
index = []
a = ["ball", "Zebra", "Xray", "ball", "fish"]
for i in range(len(a)):
    if a[i] == "ball":
        print(i)
        index.append(i)
print(index)

0
3
[0, 3]